@media screen and (min-width: 992px) {
  .cartProductDiv img {
    height: 200px !important;
  }
}
@media screen and (max-width: 992px) {
  .cartProductDiv img {
    height: 100px !important;
  }
  .cartProductDiv h3{
    font-size: 14px !important;
  }
}
