.newOrderTable{
    background-color: #1F1F21 !important;
}

.newOrderTable tbody{
    background-color: #2c2c2c !important;
}

.newOrderTable tbody tr{
    border-color: #535353 !important;

}

.newOrderTable td,th{ 
    padding: 10px;
}

.table-container{
    overflow-x: auto;
}