/* .notfound{
    width: 100vw;
    height: 100vh;
    background-color: rgb(49, 49, 49);
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 0, 0);
} */

/*======================
    404 page
=======================*/

.page_404 {
  padding: 40px 0;
  font-family: "Arvo", serif;
}

.page_404 img {
  width: 100%;
}

.four_zero_four_bg {
  background-image: url(../../assets//image/notFound/notfoundimg.gif);
  height: 400px;
  background-position: center;
}

.four_zero_four_bg h1 {
  font-size: 80px;
}

.four_zero_four_bg h3 {
  font-size: 80px;
}

.link_404 {
  color: black !important;
  padding: 10px 20px;
  background: #4aa2ff;
  margin: 20px 0;
  display: inline-block;
  text-decoration: none;
}
.contant_box_404 {
  margin-top: 50px;
  color: black;
}
